--- 
title: Home - Flying Machine Studios
created_at: Fri Jan 14 13:11:26 -0500 2011
---

%h1 Beyond the Basics

%p
  These guides document the larger programming ecosystems necessary to productively create real software. They cover debugging, package management, testing, and <a href="#the-format">other often-overlooked topics</a>.


%h2 The Guides

%section
  %ul.pages

    - @items.each do |page|
      - next if page[:draft] || page[:kind] != "guide"
      %li
        %a{:href => page.path}
          = page[:title]

%h2
  <a name="the-format"></a>
  The Format

%p Each guide will follow this outline:

.nogaps
  :textile
    * Language Versions
    * Debugging
    * Package management
    ** Installing
    ** Upgrading
    ** Using
    ** Developing
    ** Dependency Management
    * Running a standalone program
    ** Compiling
    ** Allowing others to (easily) install it
    * Interacting with the operating system
    ** IO
    ** Shelling out
    * Social resources
    ** Mailing lists
    ** Forums
    ** User groups
    * Editing environments
    ** Emacs
    ** Textmate
    ** Sublime
    ** Vim