--- 
title: Home - Flying Machine Studios
created_at: Fri Jan 14 13:11:26 -0500 2011
---

%h1 Guides

%section
  %ul.pages

    - @items.each do |page|
      - next if page[:draft] || page[:kind] != "guide"
      %li
        %a{:href => page.path}
          = page[:title]