!!!
%html{ :lang => "en", "xml:lang" => "en", :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html; charset=utf-8" }
      - if @item[:description]
        %meta{ "name" => "description", "content" => @item[:description] }
    - if @keywords
      %meta{ "name" => "keywords", "content" => @keywords }
    %title== Non-Beginners Programming Guides - #{@item[:title]}
    %link{ :href => "/stylesheets/screen.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    - additional_stylesheets(@item).each do |stylesheet|
      %link{ :href => "/stylesheets/#{stylesheet}.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }

  %body{ :class => @body_class }
    #document
      #main
        #header
          .title
            %a{:href => "/"} Non-Beginners Programming Guides
          .utilities
            %a{:href => "/about"} about
        #content.page
          - if article?(@item)
            .date= format_date(@item[:created_at])
          = find_and_preserve yield
          
          - if article?(@item)
            %h2 Comments
            #disqus_thread
            :javascript
              /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
              var disqus_shortname = 'nonbeginners'; // required: replace example with your forum shortname
              
              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
      - if guide?(@item)
        #toc
          Table of Contents
    %script{ :src => "http://ajax.microsoft.com/ajax/jquery/jquery-1.7.2.min.js" }
    %script{ :src => "/javascripts/app.js" }
    - if guide?(@item)
      %script{ :src => "/javascripts/jquery.tableofcontents.js" }
      :javascript
        $(function(){
          $("#toc").tableOfContents(
            null,
            {
              startLevel: 2
            }
          )
        })